#message{
   
    /*background-image:url(./fond2.jpeg);*/
    background-color: white;
    padding: 10px;
    width: 65%;
    height : fit-content;
    border-radius: 15px;
    /* met la boite au centre de la page */
    white-space: nowrap;
    position: relative;
    margin-left:auto;
    margin-right: auto;
    margin-top: 0px;

} 


/*#LabelM{
    
    color:rgb(2, 7, 39);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px; 
    margin-left: 3em;
}*/

#inputM{
    border-radius: 15px;
    height: fit-content;
    padding: 10px;
    font-size: 20px; 
    opacity: 0.8;
    background-color:rgb(253, 251, 249);
    
}

#publierM{
    border-radius: 15px;
    background-color:rgb(2, 7, 39);
    transition-duration: 176ms;
    border: none;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size: 20px;
    width: 150px;
    height: 45px;
    margin-left: 8em;
}