#inputI{
    border-radius: 5px;
    height: 40px;
    font-size: 20px; 
    opacity: 0.8;
    background-color:rgb(253, 251, 249);
    margin-left: 240px;
    margin-bottom: 3px;
    width: 200px;
    height: 30px;
}

#inscription{
    border-radius: 15px;
    background-color:rgb(2, 7, 39);
    transition-duration: 176ms;
    border: none;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size: 20px;
    width: 150px;
    height: 40px;
    margin-top: 2%;
    margin-bottom: 15%;
    margin-right: 250px;
    margin-left: 270px;
}

#titreI{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: white;
    font-size: 250%;
  }