body{
    overflow-x: hidden;
    overflow-y: hidden;
    color: whitesmoke;
    font-family: Arial, sans-serif;
    background-image:url(./fond2.jpeg);
    background-position:center center;
}

form{
    /* config de la boite */
    box-sizing: border-box;
    background-color:black;
    opacity: 0.9;
    border-radius: 20px;
    width: 700px;
    height: 650px;
    padding: 10px;
    /* met la boite au centre de la page */
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    /* met les boites les une au dessus des autres */
    display:grid;
}

fieldset{
    width: border-box;
    height: border-box;
    border: none;
    display: grid;
}

label{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 25px; 
}
   
input{
    height: 40px;
    border-radius: 2px;
    border: none;
    background-color:cornsilk;
}

button{
    border-radius: 15px;
    background-color:royalblue;
    transition-duration: 176ms;
    border: none;
    padding: 10px;
    /* type de l'ecriture */
    font-family: Arial, sans-serif;
    font-size: 20px; 
}

b{
    /* A modifier */
    position: relative;
    top: 0px;
    left: 0px;
    width: border-box;
    flex-wrap: nowrap;
    justify-content:flex-start;
    display: inline-flex;
}


legend {
    text-align: center;
    color :aliceblue;
    font-weight: bold;
    font-variant:small-caps;
  }


/* /*button{
     background-color:rgb(103, 141, 141);   
    color:black;
    font-family: Arial, sans-serif;
    font-size: 15 px; 
    margin-top: 10px; 
    margin-left: 220px; 
}*/

/*b{
     background-color:rgb(103, 141, 141);   
    color:red;
    font-family: Arial, sans-serif;
    font-size: 15 px; 
     margin-top: 100px; 
    margin-left: 220px;  
} */
