#Blogout{
    border-radius: 10px;
    background-color:rgb(2, 7, 39);
    transition-duration: 176ms;
    border: none;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size: 30px;
    width: fit-content;
    font-size: 25px;
    padding: 10px;
}
#Blogout:hover{
    background-color:cadetblue;
    border: 2px solid black;
}
