#Blogout{
    border-radius: 15px;
    background-color:rgb(2, 7, 39);
    transition-duration: 176ms;
    color : white;
    border: none;
    padding: 10px;
    /* type de l'ecriture */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    position:fixed;
    top: 30px;
    right: 30px;

}
