#MurDeTweets{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 650px;
    border: none;
}

#bouttonMdT{
    border-radius: 15px;
    background-color:rgb(2, 7, 39);
    transition-duration: 176ms;
    border: none;
    padding: 10px;
    /* type de l'ecriture */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: white;
   
}

#recherche{
    margin-top: 15px;
    overflow : hidden;
    overflow-y: scroll; 
}
#enteteMur{
    background-color: cadetblue;
    grid-column: 1/4;
    grid-row: 1;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    align-items: center;
    justify-content: space-between;
}

#photo{
    margin-top:10px;
    margin-left:10px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

#cadreGauche{
    grid-column: 1;
    grid-row: 2;
    border: 2px solid black;
    border-radius: 5px;
    height: 715px;
}
#cadreProfil{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(236, 234, 236);
    display: flex;
    justify-content: start;
} 



#messM{
    grid-column: 2;
    grid-row: 2;
    border: 2px solid whitesmoke;
    border-radius: 5px;

    
}

#cadreTweets{
    border: 3px solid black;
    border-radius: 5px;
    overflow : hidden;
    overflow-y: scroll; 
    height: 625px;
}::-webkit-scrollbar {
    display: none;
    }

#question{
    grid-column: 3;
    grid-row: 2;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}