#Pi{
    box-sizing: border-box;
    background-image:url(./fond2.jpeg);
    /* opacity: 0.8; */
    border-radius: 20px;
    width: 600px;
    height: 200px;
    /* met la boite au centre de la page */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
}

#PageI{
    color :white;
    opacity: 1;
    text-align: center;
    /* opacity: ; */
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
}

#bouttonPI{
    border-radius: 15px;
    background-color:rgb(2, 7, 39);
    transition-duration: 176ms;
    border: none;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size: 20px;
    width: 200px;
    height: 60px;
    margin-top: 3em;
    margin-left: 33em;
}