body{
    overflow-x: hidden;
    overflow-y: hidden;
    color: whitesmoke;
    font-family: Arial, sans-serif;
    background-image:url(./fond2.jpeg);
    background-position:center center;
}

fieldset{
    /* /config de la boite/ */
    box-sizing: border-box;
    background-color:black;
    opacity: 0.9;
    border-radius: 20px;
    border: none;;
    width: 700px;
    height: 400px;
    padding: 10px;
    /* /met la boite au centre de la page/ */
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    /* /met les boites les une au dessus des autres/ */
    display:grid;
}

h1{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    /* opacity: ; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;
    color: royalblue;
}

img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

#bouttonPP{
    border-radius: 15px;
    background-color:royalblue;
    transition-duration: 176ms;
    border: none;
    /* padding: 10px; */
     /* type de l'ecriture */
    font-family: Arial, sans-serif;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 50px;
    margin-left: 50px;

}