#bouttonProfil{
        border-radius: 15px;
    background-color:rgb(2, 7, 39);
    transition-duration: 176ms;
    border: none;
    padding: 10px;
    color: white;
    /* type de l'ecriture */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    /* margin-bottom: 10px; */
    margin-right: 4em;
    margin-left: 4em;
    margin-top: 1.5em;
}
