#ProfilModif{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 50px 50px;
    grid-gap: 20px;
    border: none;
}

#photo{
    grid-column: 1;
    grid-row: 1;
}

#Modifier{
    grid-column: 2;
    grid-row: 1;
}

#pseudoP{
    grid-column: 2;
    grid-row: 2;
}

#nom{
    grid-column: 2;
    grid-row: 3;
}

#prenom{
    grid-column: 2;
    grid-row: 4;
}